body
{
    background-color: #fefae0;
    text-align: center;
}
nav
{
    background-color:white;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 30in;
    font-style: italic;
    font-size: x-large;
    
}